.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
uploads
venv
.DS_Store
target
/java
.idea/
*.iml
.gradle
.idea
generated


# ruby
.bundle/
.yardoc
_yardoc/
coverage/
doc/
pkg/
spec/reports/
tmp/
.env